.nav-container {
    width: 100%;
    height: 10rem;
    padding: 0.5rem;
    position: sticky;
    background-color: #e0e0e0;
}
.logo{
    height: 7rem;
    width: 7rem;
    /* margin-right: 0px;    */
    /* border-radius: 50%; */
    margin-left: 50px;
    margin-top: 10px;
    
}
/* .nav-container img {
   

} */

.profile{
    height: 7rem;
    width: 7rem;
    
    /* margin-right: 0px; */
    border-radius: 50%;
}
.nav-container .right {
    display: flex;
    position: absolute;
    height: 100%;
    right: 7rem;
    top: 0;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}
.nav-container .right button {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #2ed19e, #2ed19e);
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 10%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}